mixin main-slider(data)
  .swiper.main-slider(class= data.cls ? data.cls : null data-fancybox-gallery= data.fancyboxGallery ? data.fancyboxGallery : null data-max-slides-count = data.maxSlidesCount ? data.maxSlidesCount : null)
    .swiper-wrapper
      each slide in data.slides
        .swiper-slide.main-slider-slide
          picture
            source(type="image/webp" srcset=`./assets/img/${slide.img}.webp 1x, ./assets/img/${slide.img}@2x.webp 2x`)
            img(loading="lazy" src=`./assets/img/${slide.img}.jpg` srcset=`./assets/img/${slide.img}@2x.jpg 2x` alt='Лицензия' width= slide.imgWidth height= slide.imgHeight data-fancybox-item)

          if slide.txt
            div(data-fancybox-caption= data.fancyboxGallery ? slide.txt : null data-limit= slide.limitStr ? slide.limitStr : null class= slide.limitStr ? 'js-limited-str' : null)!= slide.txt

    .main-slider-controls
      .main-slider-pagination

      .main-slider-navigation
        .main-slider-button-prev
          svg(width="40" height="40")
            use(xlink:href="./assets/sprite.svg#icon-slider-arr")
        .main-slider-button-next
          svg(width="40" height="40")
            use(xlink:href="./assets/sprite.svg#icon-slider-arr")
