include ./section-title
include ../ui/main-btn

mixin main-section(data)
  section.main-section(id= data.sectionID ? data.sectionID : null class= data.sectionCls ? data.sectionCls : null data-speed= data.sectionSpeed ? data.sectionSpeed : null)
    .lw-container.main-section__container(class= data.rtl ? 'main-section__container--rtl' : null)
      .main-section__content-part
        +section-title({
          tag: data.titleTag,
          title: data.titleText
        })

        each text in data.textContent
          p.lw-base-text!= text

        +main-btn({
          title: data.offerBtnText,
          modal: data.offerBtnModal
        })

      .main-section__content-part
        .lw-pattern-container(class= data.rtl ? 'lw-pattern-container--rtl' : 'lw-pattern-container--ltr')
          .lw-pattern-wrapper
            picture
              source(type="image/webp" srcset=`./assets/img/${data.imgName}@1x.webp 1x, ./assets/img/${data.imgName}@2x.webp 2x`)
              img(src=`./assets/img/${data.imgName}.jpg` srcset=`./assets/img/${data.imgName}@2x.jpg 2x` alt="Изображение производства" width="700" height="550")

